html {
    font-size: 50%;
}
h2, h3{
    margin: 0;
    padding: 0 0 1rem 0;
}
@media all and (min-width: 990px) {
    html {
        font-size: 62.5%;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background:  #003e64;
    scroll-behavior: smooth;
}

body {
    font: 2rem/1.5 "Open Sans", arial, sans-serif;
    color: #fff;
}

.logo {
    margin: 2em auto 2em;
    width: 20vw;
    height: 20vw;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    min-width: 200px;
    min-height: 200px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.logo:after {
    content: '';
    position: absolute;
    width: 103%;
    height: 105%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    left: -3%;
    top: -2.5%;
}

.logo:before {
    content: '';
    position: absolute;
    width: 103%;
    height: 105%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    left: -0.3%;
    top: -2.5%;
}

.logo img {
    width: 60%;
    height: 60%;
    vertical-align: bottom;
}

header {
    text-align: center;
    line-height: 1.2;
    padding-bottom: 2rem;
    background-image: url("../img/dots.png"), linear-gradient(#00598e, #003e64 50%);
    background-repeat: repeat-x, no-repeat;
}

header img {
    width: 80%;
    margin: 1rem 0;
    max-width: 400px;
}

header h1,
header p {
    margin: 2rem 0;
    padding: 0
}

header h1 {
    font-size: 5rem;
}

header p {
    font-size: 2rem;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.button {
    display: inline-block;
    border-radius: 5px;
    font-size: 90%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-decoration: none;
    color: #fff;
    background: #ff5722;
    transition: 0.6s cubic-bezier(.68,-0.55,.27,1.55)
}

.button:hover {
    background: #e64a19;
}

iframe {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 480px;
}

h2 {
    font-size: 3rem;
}

section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

section p {
    font-weight: 300;
    font-size: 1.8rem;
}

.about,
.register {
    box-shadow: -1px 0 10px #111;
    background: #01273e;
    color: #fff;
}

.faq {
    color: #fff;
}

.gallery {
    text-align: center;
}

.summer-experience {
    background: #fff;
    color: #333;
    overflow: hidden;
}

.perks {
    background: #e3f6f8;
    color: #333;
}

.summer-experience img {
    float: left;
    margin: 0 3rem 3rem 0;
    width: 220px;
}

img {
    max-width: 100%;
}

.gallery img {
    display: inline-block;
    max-width: 445px;
    width: 94%;
    margin: 1rem 1rem 1rem 0;
    border: 1rem solid rgba(255, 255, 255, 0.15);
}

.lead p {
    font-weight: bolder;
    text-shadow: 1px 1px 0 navy;
}

.where {
    background: #fff;
    color: #333;
}

.where ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.where li {
    flex: 1;
    box-shadow: 1px 1px 3px#ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.where li img {
    display: block;
    margin: 10px auto;
}

.previous {
    background: rgba(0, 0, 0, 0.5);
}

.previous ul {
    padding: 0;
}

.previous li {
    list-style: none;
    display: inline-block;
}

.previous li::after {
    content: ', ';
}

.previous li:last-child:after {
    content: '';
}

#map-canvas {
    height: 400px;
    margin: 0;
    padding: 0;
    border: 2px solid #ddd;
}

.cities span {
    display: inline-block;
    background: #eee;
    cursor: pointer;
    padding: 0 5px;
    margin: 1px 0;
    /* border-radius: 3px; */
}

.cities span:hover {
    background: #ddd
}

.partners {
    background: #fff;
    color: #333;
}

.partners-list {
    text-align: center;
    padding: 0;
}

.partners-list,
.partners-list li {
    display: inline-block;
    vertical-align: middle;
}

.partners img {
    max-width: 80%;
    margin: 10px;
}

.support {
    background: #fff;
    color: #333;
}

.previous {
    background: #eee;
    color: #333;
}

.support-list {
    text-align: center;
    padding: 0;
}

.support-list,
.support-list li {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.support img {
    max-width: 80%;
    margin: 10px;
    max-height: 80px;
}

footer {
    /*background: ;*/
    /*color: #444;*/
}

footer .content {
    text-align: center;
    font-size: 1.6rem;
}


/* social */

.social {
    /* text-align: right;
*/
    display: inline-block;
}

.social ul,
.social h4 {
    list-style: none;
    display: inline-block;
    font-size: 90%;
}

.social ul {
    margin-left: 10px;
    padding: 0
}

.social li {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.ico {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #eee;
}

.ico:hover {
    fill: #fff;
}

.people {
    background: #eee;
}

.people h2 {
    color: #333;
}

.people-list-container {
    overflow: hidden;
}

.people-list,
.people-list-item {
    padding: 0;
    margin: 0;
}

.people-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    overflow: hidden;
    transition: 1s;
}

.people-list-item {
    box-sizing: border-box;
    -webkit-flex: 0 1 175px;
    flex: 0 1 175px;
    padding: 15px;
    margin: 7px;
    color: #333;
    overflow: hidden;
    position: relative;
    left: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
}

@media all and (max-width: 400px) {
    .people-list-item {
        -webkit-flex: 1 1 130px;
        flex: 1 1 130px;
    }
}

.people-list-item img {
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.people-list-item h3 {
    font-size: 15px;
    margin: -2px 0 -5px;
}

.people-list-item p {
    font: 13px/1.3 arial, sans-serif;
}

.people-foto {
    position: relative;
    margin: -15px;
}

.people-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    -webkit-transform: translate3d(0, -1100px, 3em);
    transform: translate3d(0, -1100px, 3em);
    transition: 0.6s;
}

.people-list-item:hover .people-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: auto;
}

.hide {
    -webkit-transform: translate3d(0, -3000px, 3em);
    transform: translate3d(0, -3000px, 3em);
}

.remove {
    display: none;
}

.people-role {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    background: #aaa;
    padding: 3px;
    font-size: 1.2rem;
    color: #64212d;
    color: #fff;
}

.jury .people-role {
    background: #000
}

.prelegent .people-role {
    background: #64212d;
}

.mentor .people-role {
    background: #f05c22;
}

.city-list {
    padding: 0
}

.city-list li {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
}

.city-list input {
    position: absolute;
    left: -9999px;
}

.city-list input+label {
    background: #eee;
    color: #333;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
}

.city-list input:checked+label {
    background: #920;
    color: #fff;
}

.city-list input:checked+label:before {
    content: '✔ ';
    color: #090;
}

.faq dl {
    counter-reset: def;
}

.faq dd,
.faq dt {
    margin: 1rem 0;
    padding: 0
}

.faq dt {
    font-weight: 900;
    cursor: pointer;
}

.faq dd {
    margin: 1rem 2rem 0;
    overflow: hidden;
    transition: 0.6s;
    border-left: 5px solid #ccc;
    padding: 0 0 0 1rem;
    max-height: 0;
}
.faq dd.show-item{
    max-height: 300px;
}

.faq dt::before {
    counter-increment: def;
    content: counters(def, ".") ". ";
}

.inspirations {
    background: rgba(0, 0, 0, 0.5)
}


/*== navigation */

nav {
    width: 100%;
    display: block;
    padding: 0.63em 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.brand {
    height: 40px;
    width: 203px;
    display: inline-block;
    margin: 5px;
}

nav .wrapper {
    max-width: 960px;
    margin: 0 auto;
}

nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0
}

nav li {
    display: inline-block;
    margin: 0 5px 5px 0;
}

nav ul {
    padding: 0 1rem;
    margin: 1rem 0;
}

@media all and (min-width: 699px) {
    nav ul {
        float: right;
    }
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    padding: 5px 10px;
    display: inline-block;
    background:linear-gradient(#00598e, #003e64 50%);
    /* border-radius: 5px; */
    text-align: center;
}

nav li a:hover {
    background: #01273e;
}

.winners {
    overflow: hidden;
    padding: 0 0 2rem 0;
    background: rgba(3, 3, 3, 0.45);
}

.winners img {
    display: block;
    float: none;
    width: 360px;
    max-width: 100%;
    margin: 0 3rem 0.4rem 0;
    border: 0.5rem solid #fff;
}

@media all and (min-width: 479px) {
    .winners img {
        float: left
    }
}

.winners ul {
    padding: 2rem auto;
}

.winners hr,
.winners h3 {
    clear: both;
    width: 100%;
    padding: 2rem 0;
}

.winners h3 {
    text-transform: uppercase;
}

.winners hr {
    visibility: hidden;
}

a {
    color: inherit;
    text-decoration: underline;
}

video {
    max-width: 100%;
    width: 100%;
}

.i-wrapper {
    max-width: 100%;
    clear: both;
}

.i-wrapper div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.i-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}