@charset "UTF-8";
.icon-link .socicon {
    font-size: 2.2rem;
}

.icon-link:hover .socicon {
    opacity: .8;
}

.icon-link-text {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.github-icon-svg,
.twitter-icon-svg,
.rss-icon-svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    fill: #bbb;
    padding-bottom: 5px;
}

.site-footer {
    border-top: 1px solid #ddd;
    padding: 0;
    background: #fff;
    color: #333
}

.site-footer .site-title {
    margin: 7px 1em;
    display: block;
    line-height: 22px;
    float: left
}

.site-footer .site-title a {
    color: #4ba7f8;
}

.site-footer .find-us {
    margin: 0px 0.1em;
}

.site-footer .site-title img {
    height: 22px;
    width: 72px;
    vertical-align: middle;
}

.site-footer a {
    color: #999;
    text-decoration: none;
}

.site-footer li {
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1em;
}

.site-footer li span {
    display: inline-block;
    vertical-align: middle;
}

.site-footer a:hover svg,
.site-footer a:focus svg {
    opacity: 0.8;
}

.site-footer a:hover span.username,
.site-footer a:focus span.username {
    text-decoration: underline;
}