html {
    min-height: 100%;
    background-color: #345893;
    background-image: linear-gradient(#209b84, #345893);
}

body {
	font: 1em/1.2 'Open Sans', sans-serif;
    background: url('../img/dots.png');
    color: #fff;
    min-height: 100vh;
    padding-top: 100px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: moveBackground;
}

body > header h1,
body > header p{
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-align: center;
}

.logo {
    margin: 0 auto 2em;
    width: 25vw;
    height: 25vw;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    min-width: 200px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo:after {
    content: '';
    position: absolute;
    width: 103%;
    height: 105%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    left: -3%;
    top: -2.5%;
}

.logo:before {
    content: '';
    position: absolute;
    width: 103%;
    height: 105%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    left: -0.3%;
    top: -2.5%;
}

.logo img {
    width: 60%;
    height: 60%;
    vertical-align: bottom;
}

@keyframes moveBackground {
    from {
        background-position: 50% 100%;
    }
    50% {
        background-position: 0 0;
    }
    70% {
        background-position: 20% -20%;
    }
    to {
        background-position: 70% 100%;
    }
}